.mediaViewInfo {
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Index_Class {
	position: absolute;
	width: 430px;
	height: 932px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
.titulo_Principal {
	border: 0;
	left: 134px;
	top: 359px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: center;
	font-family: Fredoka;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(112,112,112,1);
}
.subtitulo {
	border: 0;
	left: 98px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: Fredoka;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}

.container {
	position: relative; /* Para que os filhos possam ser posicionados em relação a este contêiner */
    width: 100%; /* Largura total */
    height: 100vh; /* Altura da viewport */
}

.botao_Login {
	position: absolute; 
	top: 490px;
	left: 50%;
	transform: translateX(-50%);
    background-color: #52a76e; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 10px; /* Cantos arredondados */
	width: 292px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor em forma de mão */
    display: flex; /* Para centralizar o conteúdo */
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Alinhamento horizontal */
}

.botao_Login:hover {
    background-color: #DBEADF; /* Cor de fundo ao passar o mouse */
}

.botao_CadastreSe {
	font-family: Fredoka;
	font-weight: 500;
	position: absolute;
	top: 550px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #4B4E6D;
	color: white;
	border: none;
	border-radius: 10px;
	width: 292px;
	height: 50px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botao_CadastreSe:hover {
	background-color: #DBEADF;
}

.aaf_Class {
	position: absolute;
	width: 292px;
	height: 50px;
	left: 68px;
	top: 554px;
	overflow: visible;
}
.aag_Class {
	fill: rgba(76,78,109,1);
	stroke: rgba(112,112,112,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aag {
	position: absolute;
	overflow: visible;
	width: 292px;
	height: 50px;
	left: 0px;
	top: 0px;
}
.aah_Class {
	border: 0;
	left: 89px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: center;
	font-family: Fredoka;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.aai_Class {
	position: absolute;
	width: 430px;
	height: 20px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
.aaj_Class {
	fill: rgba(247,255,249,0.447);
}
.aaj {
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 20px;
	left: 0px;
	top: 0px;
}
.aak_Class {
	border: 0;
	left: 10px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: .AppleSystemUIFont;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(103,103,103,0.973);
}
.aal_Class {
	position: absolute;
	width: 6.116px;
	height: 7.588px;
	left: 383.5px;
	top: 6.912px;
	overflow: visible;
}
.aam_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aam {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 4px;
	left: 0px;
	top: 3.588px;
	transform: matrix(1,0,0,1,0,0);
}
.aan_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aan {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 5px;
	left: 2px;
	top: 2.588px;
	transform: matrix(1,0,0,1,0,0);
}
.aao_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aao {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 6px;
	left: 4px;
	top: 1.588px;
	transform: matrix(1,0,0,1,0,0);
}
.aap_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aap {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 7.588px;
	left: 6.116px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aaq_Class {
	position: absolute;
	width: 8.982px;
	height: 5.471px;
	left: 395.536px;
	top: 7.97px;
	overflow: visible;
}
.aar_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aar {
	overflow: visible;
	position: absolute;
	width: 4.198px;
	height: 1.666px;
	left: 2.751px;
	top: 4.676px;
	transform: matrix(1,0,0,1,0,0);
}
.aas_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aas {
	overflow: visible;
	position: absolute;
	width: 6.417px;
	height: 2.175px;
	left: 1.641px;
	top: 2.423px;
	transform: matrix(1,0,0,1,0,0);
}
.aat_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aat {
	overflow: visible;
	position: absolute;
	width: 9.7px;
	height: 2.929px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aau_Class {
	position: absolute;
	width: 13px;
	height: 6px;
	left: 409px;
	top: 8px;
	overflow: visible;
}
.aav_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aav {
	overflow: visible;
	position: absolute;
	width: 13px;
	height: 6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aaw_Class {
	fill: rgba(103,103,103,0.973);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.aaw {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 4px;
	left: 1px;
	top: 1px;
}
.logo_SaudeABordo_Home {
	position: absolute;
	width: 221px;
	height: 221px;
	left: 105px;
	top: 110px;
	overflow: visible;
}
